In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

In [3]:
import pandas as pd
import numpy as np
df=pd.read_csv("daily-min-temperatures.csv")
df

            Date  Temp
0     01-01-1981  20.7
1     02-01-1981  17.9
2     03-01-1981  18.8
3     04-01-1981  14.6
4     05-01-1981  15.8
...          ...   ...
3645  27-12-1990  14.0
3646  28-12-1990  13.6
3647  29-12-1990  13.5
3648  30-12-1990  15.7
3649  31-12-1990  13.0

[3650 rows x 2 columns]

In [4]:
df.head()

         Date  Temp
0  01-01-1981  20.7
1  02-01-1981  17.9
2  03-01-1981  18.8
3  04-01-1981  14.6
4  05-01-1981  15.8

In [5]:
df.describe()

              Temp
count  3650.000000
mean     11.177753
std       4.071837
min       0.000000
25%       8.300000
50%      11.000000
75%      14.000000
max      26.300000

In [6]:
df.corr()

      Temp
Temp   1.0

In [12]:
values = df.values
values = values.reshape((len(values), 1))
# train the normalization
scaler = MinMaxScaler(feature_range=(0, 1))
scaler = scaler.fit(values)
print('Min: %f, Max: %f' % (scaler.data_min_, scaler.data_max_))

Min: 0.000000, Max: 26.300000

In [13]:
# normalize the dataset and print the first 5 rows
normalized = scaler.transform(values)
for i in range(5):
    print(normalized[i])

[0.78707224]
[0.68060837]
[0.7148289]
[0.55513308]
[0.60076046]

In [14]:
# inverse transform and print the first 5 rows
inversed = scaler.inverse_transform(normalized)
for i in range(5):
    print(inversed[i])

[20.7]
[17.9]
[18.8]
[14.6]
[15.8]